<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Desjtop">
  <parameter name="platform" value="web"></parameter>
    <classes>
      <class name="com.automation.testscripts.Test_RegisteringLSAT"/>
      <class name="com.automation.testscripts.Test_SignUpPage"/>
      <class name="com.automation.testscripts.Test_LoginTest"/>
    </classes>
    
  </test> <!-- Test -->
  <test thread-count="5" name="Android">
  <parameter name="platform" value="mobile"></parameter>
    <classes>
      <class name="com.automation.testscripts.Test_RegisteringLSAT"/>
      <class name="com.automation.testscripts.Test_SignUpPage"/>
      <class name="com.automation.testscripts.Test_LoginTest"/>
    </classes>
    
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
